
    <div class="flex items-center justify-center m-5 bg-[#1b263b] rounded-xl shadow-md px-1 py-2">
      <img
        class="w-5 h-5"
        src="https://img.icons8.com/?size=100&id=XOhPTXnruRFE&format=png&color=000000"
        alt="Air"
      />
    </div>
    <span class="flex items-center">
      <span class="h-px flex-1 bg-gray-600"></span>
    
      <span class="h-px flex-1 bg-gray-600"></span>
    </span>
    <div>
        <div class="flex flex-col text-white items-center justify-center m-5  rounded-xl shadow-md p-2">
            <img src="https://img.icons8.com/?size=100&id=102047&format=png&color=e0e1dd" alt="rain" class="w-5 h-5" />
            <p class="text-sm fond-sans">wheather</p>
        </div>
        <div class="flex flex-col text-white items-center justify-center m-5  rounded-xl shadow-md p-2">
            <img src="https://img.icons8.com/?size=100&id=PxpA8aUdHygM&format=png&color=415a77" alt="rain" class="w-5 h-5" />
            <p class="text-sm fond-sans">cities</p>
        </div>
        <div class="flex flex-col text-white items-center justify-center m-5  rounded-xl shadow-md p-2">
            <img src="https://img.icons8.com/?size=100&id=wuzXPIITxDhe&format=png&color=415a77" alt="rain" class="w-5 h-5" />
            <p class="text-sm fond-sans">map</p>
        </div>
    </div>

